 *{
    margin: 0;
    padding: 0;
 }

 main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
 }

 .box{
    margin: 50px;
    width: 70%;
    height: 300px;
    border: 2px solid black;

 }
 .image{
    width: 100%;
    height: 50%;
    background-color: red;
    img{
        width: 100%;
        height: 100%;
    }
 }
.information{
    text-align: center;
    margin-top: 10px;
}
.search-bar{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
#searchBox{
    width: 200px;
    height: 30px;
}

.region{
   display: flex;
   gap: 20px;
   align-items: center;
}
.region select{
   padding: 10px;
}

#regionSlot{
   text-align: center;
   margin-top: 20px;
}

@media (max-width : 900px){
     main{
    grid-template-columns: 1fr;
 }
 .box{
    margin: 20px;
    width: 90%;
    height: 300px;
    border: 1px solid black;

 }
 .information{
    margin-top: 10px;
}
 .image{
    width: 100%;
    height: 50%;
    background-color: red;
    img{
        width: 100%;
        height: 100%;
    }
 }
}